<h1> New User</h1>

<article class="people">
  <section class="people-head">
    <% if @user.errors.any?  %>
       <div class="alert alert-danger">
           <h2>
             <%= pluralize(@user.errors.count, "error") %>
           </h2>
           <ul>
             <% @user.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
             <% end %>
           </ul>
         </div>
     <% end %>

    <%= form_for User.new do |f| %>
      <p>
        <%= f.label :name %> <br>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.hidden_field :type, :value => 'Neutrality' %>
      </p>
      <p>
        <%=f.submit class: 'btn btn-dark' %>
      </p>
    <% end %>
  </section>
</article>
