<h2>Edit Albom</h2>

  <article class="audio">
    <section class="audio-head">
      <% if @song.errors.any?  %>
             <div class="alert alert-danger">
                 <h2>
                   <%= pluralize(@song.errors.count, "error") %> 
                 </h2>
                 <ul>
                   <% @song.errors.full_messages.each do |msg| %>
                     <li><%= msg %></li>
                   <% end %>
                 </ul>
               </div>
           <% end %>

      <%= simple_form_for @song, html: {multipart: true}, url: albom_song_path(@song), method: :patch do |f| %>
      <p>
        Name <br>
        <%=f.text_field :name %>
      </p>

      <p>
        Image <br>
        <%=f.file_field :podcast %>
      </p>

        <p>
        <%=f.submit class: 'btn btn-dark' %>
      </p>
      <% end %>
    </section>
  </article>
