
<article class="audio">
    <section class="audio-head">


      <h2><%= @albom.name %></h2>


        <div class="container">
          <p>Song</p>
          <div class="row">
            <% @song.each do |song| %>
              <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <h4><%= link_to song.name, albom_song_path(song) %></h4>
                <br>
                <small>
                  Podcast: <b><%= song.podcast %></b> <br>
                    id: <b><%= song.id %></b> <br>
                  <%= link_to 'Edit', edit_albom_song_path(song), class: 'btn btn-warning' %>
                  <%= link_to 'Destroy', albom_song_path(song), method: :delete, data:{confirm: 'Are you sure?'}, class: 'btn btn-danger' %><br>
                </small>
                <hr>
              </div>
            <% end %>
              Albom: <b><%= @albom.id %></b> <br>
              <%= link_to 'New song', new_albom_song_path(@albom.id),  class: 'btn btn-warning' %>
          </div>
        </div>
        <hr>

    </section>
</article>
