

<article class="blog">
  <section class="blog-head">
    <div class="container">



      <h1>Registration</h1>

      <%= form_for User.new do |f| %>

          <p>
            <%= f.label :username %><br />
            <%= f.text_field :username %>
          </p>
          <p>
            <%= f.label :password %><br />
            <%= f.password_field :password %>
          </p>
          <p>
            <%=f.submit class: 'btn btn-dark' %>
          </p>
        <% end %>

    </div>
  </section>
</article>
