<article class="ajax">
    <section class="ajax-head">
      <div class="container">
        <h2>Main page</h2>


        <div id="messages">1</div>
        <div class="load-more-container">
          <%= link_to 'Show article', show_article_url, class: 'btn btn-success', id: 'show_article' , remote: true   %>
        </div>


        <div class="row", id="articles">
             <%= render @articles %>
        </div>

        <div class="row">
          <%= form_for :article, url: articles_path,  remote: true do |f| %>

              <%= f.label :title %>
              <%= f.text_field :title %>
            <br>
              <%= f.label :body %>
              <%= f.text_field :body %>
            <%= f.submit class: "btn btn-link" %>
          <% end %>

        </div>


        </div>
    </section>
</article>
